body{
    background-color: lightseagreen;
}

article {
    font-size: larger;
    text-align: center;
    color: black;
    margin-top: 12em;
    background-color: aqua;
}

footer {
    text-align: center;
    color: orange;
}